SCROLLBAR: The -webkit-scrollbar is not supported by Firefox or IE and Edge*/
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 100px 100px 5px #111; 
  border-radius: 14px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 14px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111; 
}



/*SCROLL INDICATOR*/
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  background: #111;
}

.progress-bar {
  height: 10px;
  background: #F44336;
  width: 0%;
}



/*BECAUSE MATERIALIZE AND CSS PULSE COLLIDE*/
@keyframes my-pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}
.my-pulse {
  animation-name: my-pulse;
  animation-duration: 2s;
}
.my-animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}












body {
	height: 100vh;
	background-color: #111;
}

.uk-container {
	background-color: #111;
	padding-top: 25px;
}

.card {
	cursor: -webkit-grab;
  background-color: #fafafa;
}

.uk-subnav-pill>.uk-active>a {
    background-color: #F44336;
}


@media only screen and (orientation: portrait) {
  .uk-container{
  	padding-left: 15px;
  	padding-right: 15px;
  }
  /*.uk-position-cover {
    background-color: #F44336;
    opacity: 0.9;
  }
  .uk-position-cover:hover {
    background-color: transparent;
    opacity: 1;
  }*/
}

/*@media only screen and (orientation: landscape) {*/

  .uk-position-cover {
    background-color: #F44336;
    opacity: 0.9;
    -webkit-transition: background-color 0s; 
    transition: background-color 0s;
}

  .uk-position-cover:hover, .uk-position-cover:active {
    background-color: transparent;
    opacity: 1;
  }


/*}*/























/*#myDiv{
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #F44336;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}